<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
onload="if(submitted) {window.location='http://arciplex.com';}"></iframe>
<form action="https://docs.google.com/a/arciplex.com/forms/d/1ML32jvQpajkZbxNyBDli_80WLws71irVU3mBMDksTo4/formResponse" method="post" target="hidden_iframe"
onsubmit="submitted=true;" class="pure-form pure-form-stacked">
  <fieldset>
<ol role="list" class="ss-question-list" style="padding-left: 0">
  <div class="ss-form-question errorbox-good" role="listitem">
    <div dir="auto" class="ss-item ss-item-required ss-text">
      <div class="ss-form-entry form-group">
        <label class="ss-q-item-label" for="entry_1477564993"><div class="ss-q-title">Name:
          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
          <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
          <input type="text" name="entry.1477564993" value="" class="ss-q-short" id="entry_1477564993" dir="auto" aria-label="Name:  Must contain " aria-required="true" required="" pattern=".*.*" title="Must contain ">
        </div>
      </div>
    </div>
    <div class="ss-form-question errorbox-good form-group" role="listitem">
      <div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
        <label class="ss-q-item-label" for="entry_1924252704"><div class="ss-q-title">Phone:
        </div>
        <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
        <input type="text" name="entry.1924252704" value="" class="ss-q-short" id="entry_1924252704" dir="auto" aria-label="Phone:  " title="">
        <div class="error-message" id="499546666_errorMessage"></div>
      </div>
    </div>
  </div>
  <div class="ss-form-question errorbox-good form-group" role="listitem">
    <div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_912970924"><div class="ss-q-title">Email:
      </div>
      <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
      <input type="email" name="entry.912970924" value="" class="ss-q-short" id="entry_912970924" dir="auto" aria-label="Email:  Please enter a valid email address" title="Please enter a valid email address">
    </div>
  </div>
</div>
<div class="ss-form-question errorbox-good form-group" role="listitem">
  <div dir="auto" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
    <label class="ss-q-item-label" for="entry_1508011142"><div class="ss-q-title">Message
    </div>
    <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
    <textarea name="entry.1508011142" rows="4" cols="0" class="ss-q-long" id="entry_1508011142" dir="auto" aria-label="Message  "></textarea>
    <div class="error-message" id="615614004_errorMessage"></div>
  </div>
</div>
</div>
<input type="hidden" name="draftResponse" value="[,,&quot;-7704255442236313572&quot;]">
<input type="hidden" name="pageHistory" value="0">
<input type="hidden" name="fvv" value="0">
<input type="hidden" name="fbzx" value="-7704255442236313572">
<div class="ss-item ss-navigate">
  <table id="navigation-table">
    <tbody>
      <tr>
        <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
          <input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action" style="border: 0px solid black;border-radius: 5px; -moz-border-radius: 5px;-webkit-border-radius: 5px;">
        </td>
      </tr>
    </tbody>
  </table>
</div>
</ol>
</fieldset>
</form>
