<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#top"></a>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="https://www.arciplex.com/#" class="dropdown-toggle" data-toggle="dropdown" role="button" data-no-turbolink="true">Process <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">
                        <li class="slideTo"><a href="#idea" data-no-turbolink="true">Idea</a></li>
                        <li class="slideTo"><a href="#collaboration" data-no-turbolink="true">Collaboration</a></li>
                        <li class="slideTo"><a href="#research" data-no-turbolink="true">Research</a></li>
                        <li class="slideTo"><a href="#design" data-no-turbolink="true">Design</a></li>
                        <li class="slideTo"><a href="#engineering" data-no-turbolink="true">Engineering</a></li>
                        <li class="slideTo"><a href="#prototyping" data-no-turbolink="true">Prototyping</a></li>
                        <li class="slideTo"><a href="#testing" data-no-turbolink="true">Testing</a></li>
                        <li class="slideTo"><a href="#production" data-no-turbolink="true">Production</a></li>
                        <li class="slideTo"><a href="#distribution" data-no-turbolink="true">Distribution</a></li>
                    </ul>
                </li>
                <li class="slideTo"><a href="#about-us" data-no-turbolink="true">About</a></li>
                <li class="slideTo"><a href="#contact-us" data-no-turbolink="true">Contact</a></li>
                <li style="margin-top:.5em;"><a href="https://www.3dhubs.com/nashville/hubs/arciplex" data-3dhubs-widget="button" data-hub-id="88834" data-type="orderWidget" data-color="light" data-size="normal" data-text="Order a 3D Print">Order a 3D Print</a> <script>!function(a,b,c,d){var e,g=(a.getElementsByTagName(b)[0],/^http:/.test(a.location)?"http":"https");a.getElementById(d)||(e=a.createElement(b),e.id=d,e.src=g+"://d3d4ig4df637nj.cloudfront.net/w/2.0.js",e.async=!0,a.body.appendChild(e))}(document,"script",1,"h3d-widgets-js");</script></li>
                <li><a target="_blank" href="http://www.mfgday.com/events/2016/arciplex-2"><img src="./Arciplex_files/MFD_WebBadge.png" id="logo" alt="MFG Day Host Logo"></a></li>
            </ul>
        </div>
    </div>
</nav>
